---
import "@fontsource/poppins";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />

    <title>Frontend Mentor | Four card feature section</title>
  </head>
  <body>
    <header>
      <div class="intro">
        <h1>
          Reliable, efficient delivery
          <br />
          <span>Powered by Technology</span>
        </h1>
        <br />
        <p>
          Our Artificial Intelligence powered tools use millions of project data
          points to ensure that your project is successful
        </p>
      </div>
    </header>
    <main>
      <div class="cards-section">
        <div class="card Supervisor">
          <p class="title">Supervisor</p>
          <p>Monitors activity to identify project roadblocks</p>
          <img src="/icon-supervisor.svg" alt="" />
        </div>
        <div class="cards-center">
          <div class="card TeamBuilder">
            <p class="title">Team Builder</p>
            <p>
              Scans our talent network to create the optimal team for your
              project
            </p>
            <img src="/icon-team-builder.svg" alt="" />
          </div>
          <div class="card Karma">
            <p class="title">Karma</p>
            <p>Regularly evaluates our talent to ensure quality</p>
            <img src="/icon-karma.svg" alt="" />
          </div>
        </div>
        <div class="card Calculator">
          <p class="title">Calculator</p>
          <p>
            Uses data from past projects to provide better delivery estimates
          </p>
          <img src="/icon-calculator.svg" alt="" />
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  :root {
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
    margin: 5rem auto 5rem auto;
  }

  .intro {
    text-align: center;
  }

  .intro > p {
    margin-bottom: 2.25rem;
    text-align: center;
    width: 25rem;
    margin: auto auto;
  }

  h1 {
    font-weight: 200;
    font-size: 24px;
    color: var(--Grayish-Blue);
    margin-bottom: -10px;
  }

  h1 span {
    font-weight: 600;
    color: var(--Very-Dark-Blue);
  }

  p {
    color: var(--Grayish-Blue);
    font-size: 13px;
  }

  p.title {
    color: var(--Very-Dark-Blue);
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 -0.75rem 0;
  }

  main {
    display: flex;
    justify-content: center;
  }

  .cards-section {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.25rem;
    margin: 1.25rem auto;
    width: 16rem;
    border-radius: 0.4rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .Supervisor {
    border-top: 5px solid var(--Cyan);
  }

  .TeamBuilder {
    border-top: 5px solid var(--Red);
  }

  .Karma {
    border-top: 5px solid var(--Orange);
  }

  .Calculator {
    border-top: 5px solid var(--Blue);
  }

  .card > img {
    align-self: flex-end;
  }

  @media only screen and (min-width: 1024px) {
    .cards-section {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .cards-center {
      margin-right: 3rem;
      margin-left: 3rem;
    }
  }
</style>
